.about__wrapper {
  max-width: 1160px;
  display: flex;
  margin: 0 auto;
  padding: 120px 0 125px;
  gap: 90px;

  @include vp-1279 {
    flex-direction: column;
    gap: 11px;
    align-items: center;
    padding: 100px 0 73px 0;
  }

  @include vp-767 {
    gap: 25.5px;
    align-items: flex-start;
    padding: 64px 0 70px 0;
  }
}

.about__text-block {
  max-width: 410px;
  padding: 39px 0 0 60px;

  @include vp-1279 {
    padding: 0;
    max-width: 900px;
    text-align: center;
  }

  @include vp-767 {
    text-align: left;
  }
}

.about__title {
  margin: 0 0 8px 0;
  font-family: $ff-alumni-sans;
  font-size: 48px;
  letter-spacing: 1.2px;
  line-height: 58px;

  @include vp-1279 {
    margin: 0 15px 0 0;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: 1.4px;
  }

  @include vp-767 {
    margin: 0;
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 1px;
  }
}

.about__feature {
  margin: 0 0 40px 0;
  font-size: 18px;

  @include vp-1279 {
    margin: 0 0 35px 0;
  }

  @include vp-767 {
    margin: 0 0 25px 0;
  }
}

.about__description-wrapper {
  @include vp-1279 {
    margin-bottom: 50px;
  }
}

.about__description-wrapper p {
  font-weight: 300;

  @include vp-1279 {
    max-width: 502px;
  }

  @include vp-767 {
    margin: 0 0 8px 0;
    max-width: 258px;
  }
}

.about__description--primary {
  margin: 0 0 8px 0;
}

.about__description--secondary {
  margin: 0 0 0 0;

  @include vp-1279 {
    display: none;
  }
}

.about__media-block {
  width: 100%;
  max-width: 660px;
  min-height: 511px;
  position: relative;

  @include vp-1279 {
    padding: 0 0 110px 0;
    max-width: 100%;
    min-height: 0;
  }

  @include vp-767 {
    margin: 0 0 0 -15px;
    padding: 0;
    width: 100vw;
    max-width: 100vw;
  }
}

.about__photo {
  width: 100%;
  background-color: $color-grey;

  @include vp-1279 {
    margin: 0 auto;
    width: 678px;
    height: 345px;
    aspect-ratio: auto;
  }

  @include vp-767 {
    margin: 0 0 40px 0;
    width: 100%;
    height: auto;
    min-height: 313px;
  }
}

.about__image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-767 {
    max-height: 460px;
  }
}

.about__video {
  position: absolute;
  top: 288px;
  left: -63px;
  width: 364px;
  height: 228px;
  background-color: $color-egyptian-blue;

  @include vp-1279 {
    top: 261px;
    left: 50%;
    transform: translateX(-50%);
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 167px;
    transform: translateX(0);
  }
}

.about__video-player {
  width: 100%;
  height: 100%;

  @include vp-767 {
    aspect-ratio: 320/167;
  }
}

.about__play-button {
  padding: 0;
  position: absolute;
  content: "";
  width: 72px;
  height: 72px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  outline: 2px solid rgba($color-torch-red, 0.2);
  outline-offset: 14px;
  z-index: 3;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: $button-buy-gradient;
    border-radius: 50%;
    z-index: 1;
  }

  &:focus svg {
    fill: $color-sapphire;
  }

  @include focus {
    outline-color: $color-sapphire;
  }

  &:focus::before {
    background: #ffffff;
  }

  &:disabled {
    opacity: 0.4;
    outline-color: $color-sapphire;
  }

  &:disabled svg {
    opacity: 0.4;
    fill: $color-sapphire;
  }

  &:disabled::before {
    opacity: 0.4;
    background: $color-default-white;
  }
}

.about__play-button svg {
  position: absolute;
  fill: $color-default-white;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
  z-index: 4;
}
