.about__wrapper {
  max-width: 1160px;
  display: flex;
  margin: 0 auto;
  padding: 120px 0 125px;
  gap: 90px;

  @include vp-1199 {
    flex-direction: column;
    gap: 11px;
    align-items: center;
    padding: 100px 0 73px 0;
  }

  @include vp-767 {
    gap: 25.5px;
    align-items: flex-start;
    padding: 64px 0 70px 0;
  }
}

.about__text-block {
  max-width: 410px;
  padding: 39px 0 0 60px;

  @include vp-1199 {
    padding: 0;
    max-width: 900px;
    text-align: center;
  }

  @include vp-767 {
    text-align: left;
  }
}

.about__title {
  margin: 0 0 8px 0;
  font-family: $ff-alumni-sans;
  font-size: 48px;
  letter-spacing: 1.2px;
  line-height: 58px;

  @include vp-1199 {
    margin: 0;
    font-size: 42px;
    line-height: 51px;
    letter-spacing: 1.4px;
  }

  @include vp-767 {
    margin: 0 0 5px 0;
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 1px;
  }
}

.about__feature {
  margin: 0 0 40px 0;
  font-size: 18px;

  @include vp-1279 {
    margin: 0 0 35px 0;
  }

  @include vp-767 {
    margin: 0 0 25px 0;
  }
}

.about__description-wrapper {
  @include vp-1199 {
    margin-bottom: 0;
  }
}

.about__description-wrapper p {
  font-weight: 300;

  @include vp-1199 {
    max-width: 507px;
  }

  @include vp-767 {
    margin: 0 0 9px 0;
    max-width: 258px;
  }
}

.about__description--primary {
  margin: 0 0 8px 0;

  @include vp-1199 {
    margin: 0 0 33px 0;
  }
}

.about__description--secondary {
  margin: 0 0 0 0;

  @include vp-1199 {
    display: none;
  }
}

.about__media-block {
  width: 100%;
  max-width: 660px;
  min-height: 511px;
  position: relative;

  @include vp-1199 {
    padding: 0 0 110px 0;
    max-width: 100%;
    min-height: 0;
  }

  @include vp-767 {
    margin: 0 0 0 -15px;
    padding: 0;
    width: 100vw;
    max-width: 100vw;
  }
}

.about__photo {
  width: 100%;
  background-color: $color-grey;

  @include vp-1199 {
    margin: 0 auto;
    width: 678px;
    height: 345px;
    aspect-ratio: auto;
  }

  @include vp-767 {
    margin: 0 0 40px 0;
    width: 100%;
    height: auto;
    min-height: 313px;
  }
}

.about__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-767 {
    max-height: 460px;
  }
}

.about__video {
  position: absolute;
  top: 288px;
  left: -63px;
  width: 364px;
  height: 228px;
  background-color: $color-egyptian-blue;

  @include vp-1199 {
    top: 261px;
    left: 50%;
    transform: translateX(-50%);
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateX(0);
  }
}

.about__video img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__video-player {
  width: 100%;
  height: 100%;

  @include vp-767 {
    aspect-ratio: 320/167;
  }
}

.about__play-button {
  padding: 0;
  position: absolute;
  content: "";
  width: 72px;
  height: 72px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: transparent;
  border: none;
  z-index: 3;
  cursor: pointer;

  &::before {
    display: block;
    background: $button-buy-gradient;
    position: absolute;
    width: 72px;
    height: 72px;
    content: "";
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 50%;

  }

  &::after {
    content: "";
    position: absolute;
    transform: translate(-14%, -14%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    inset: 0;
    opacity: 0.2;
    background: $button-buy-gradient;
    border: 2px solid transparent;
    mask: $mask-gradient padding-box, $mask-gradient;
    mask-composite: exclude;
  }

  @include vp-1199 {
    width: 73px;
    height: 73px;


    &::before {
      width: 52px;
      height: 52px;
    }

    &::after {
      width: 73px;
      height: 73px;
    }

    & svg {
      width: 12px;
      height: 12px;
    }
  }

  &:hover::before,
  &:focus::before {
    background: $color-default-white;
  }

  &:hover::after,
  &focus::after {
    opacity: 1;
    border: solid 2px $color-sapphire;
  }


  &:active {
    background: transparent;
  }

  &:active::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 58px;
    height: 58px;
    @include hover;

    @include vp-1199 {
      width: 48.5px;
    height: 48.5px;
    }
  }

  &:hover svg,
  &:focus svg,
  &:active svg {
    @include hover;
    color: $color-sapphire;
  }
}

.about__play-button.is-disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;

  &::before {
    background: $color-default-white;
  }

  & svg {
    color: $color-sapphire
  }
}

.about__play-button svg {
  position: absolute;
  color: $color-default-white;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
  z-index: 4;

  @include vp-1199 {
    top: 36%;
    left: 36%
  }
}
