.accordion {
  margin: 0;
}

.accordion__wrapper {
  margin: 0 0 25px 0;
  padding: 0;

  @include vp-767 {
    margin: 2px 0 20px;
  }

}

.accordion__element.is-active .accordion__container {
  padding: 25px 42px 10px 0;

  @include vp-1199 {
    padding: 24px 1px 10px;
  }

  @include vp-767 {
    padding: 23px 0 10px;
  }
}

.accordion__content {
  max-width: 100%;
}

.accordion__container {
  position: relative;
  margin: 0;
  padding: 25px 42px 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  line-height: 28.8px;
  background-color: transparent;
  -webkit-text-stroke: 1px $color-sapphire;

  @include vp-1199 {
    padding: 24px 1px;
  }

  @include vp-767 {
    padding: 20px 0;
  }
}

.accordion__container span {
  margin: 0;
  color: $color-sapphire;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  text-transform: none;

  @include vp-767 {
    font-size: 18px;
    line-height: 21.5px;
  }
}

.accordion__button {
  width: 42px;
  height: 42px;
  margin: 0;
  right: -9.5px;
  display: flex;
  position: relative;
  background: transparent;
  border-radius: 50%;
  border: 1px solid $color-sapphire;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    background-color: $color-sapphire;
    height: 1px;
    display: block;
    width: 18px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    transform: rotate(90deg);
    background-color: $color-sapphire;
    height: 1px;
    display: block;
    width: 18px;
  }

  @include vp-1199 {
    right: 0;
  }

  @include vp-767 {
    top: 0;
    right: 0;
    padding: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    &::before,
    &::after {
      left: 29%;
      width: 13px;
    }
  }

  &:hover,
  &:focus {
    background-color: $color-sapphire;

    &::before,
    &::after {
      background-color: $color-default-white;
    }
  }
}

.accordion__button span:first-child {
  margin: 0;
  color: $color-sapphire;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  text-transform: none;

  @include vp-767 {
    font-size: 18px;
    line-height: 21.5px;
  }
}

.accordion__button span {
  -webkit-text-stroke: 1px $color-sapphire;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion__element.is-active .accordion__button {
  background: $color-sapphire;

  &::before {
    background: $color-default-white;
  }

  &::after {
    display: none;
  }
}

.accordion__element.is--disabled .accordion__button {
  &::before,
  &::after {
    opacity: 30%;
    pointer-events: none;
    cursor: default;
  }
}

.accordion__element {
  margin: 0;
  padding: 0;
  border-top: solid 1px $color-sapphire-faq;

  &:first-child {
    border: none;
  }
}

.accordion__text {
  max-width: 660px;
  margin: 0 0 10px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;

  @include vp-1199 {
    max-width: 560px;
  }

  @include vp-767 {
    margin: 0;
    max-width: 290px;
    font-size: 16px;
    line-height: 22px;
  }
}
