.accordion {
  margin: 0;
}

.accordion__wrapper {
  margin: 0;
  padding: 0;
}

.accordion__button {
  margin: 0;
  padding: 32px 42px 31px 0;
  display: flex;
  max-width: 100%;
  line-height: 28.8px;
  position: relative;
  background: transparent;

  @include vp-1279 {
    padding-right: 52px;
  }

  @include vp-767 {
    padding: 21px 52px 21px 0;
  }
}

.accordion__button span:first-child {
  margin: 0;
  color: $color-sapphire;
  font-size: 24px;
  font-weight: 400;
  text-align: left;
  text-transform: none;

  @include vp-767 {
    font-size: 18px;
    line-height: 21.5px;
  }
}

.accordion__button span {
  display: flex;
  justify-content: center;
  align-items: center;
}


.accordion__button-icon {
  position: absolute;
  // top: 26px;
  right: 32px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  outline: 1px solid $color-sapphire;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    background-color: $color-sapphire;
    height: 1px;
    display: block;
    width: 18px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    transform: rotate(90deg);
    background-color: $color-sapphire;
    height: 1px;
    display: block;
    width: 18px;
  }

  @include vp-1279 {
    right: 2px;
  }

  @include vp-767 {
    width: 32px;
    height: 32px;

    &::before,
    &::after {
      left: 29%;
      width: 13px;
    }
  }

  &:hover,
  &:focus {
    background-color: $color-sapphire;

    &::before,
    &::after {
      background-color: $color-default-white;
    }
  }
}

.accordion__element.is-active .accordion__button-icon {
  background: $color-sapphire;

  &::before {
    background: $color-default-white;
  }

  &::after {
    display: none;
  }
}

.accordion__element.is--disabled .accordion__button-icon {
  &::before,
  &::after {
    opacity: 30%;
    pointer-events: none;
    cursor: default;
  }
}


.accordion__element {
  margin: 0;
  padding: 0;
  border-top: solid 1px $color-sapphire-faq;

  &:first-child {
    border: none;
  }
}

.accordion__text {
  max-width: 660px;
  margin: 0 0 10px;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;

  @include vp-1279 {
    max-width: 560px;
  }

  @include vp-767 {
    max-width: 290px;
    font-size: 16px;
    line-height: 22px;
  }
}
