.custom-input {
  position: relative;
  }

  .input-message {
    position: absolute;
    top: 35px;
    left: 0;

    &.is-invalid {
      font-size: 11px;
      line-height: 12px;
      color: $color-crimson;
    }
  }

  .custom-input.is-invalid input  {
      border-bottom: 1px solid $color-crimson;
  }
