.membership {
  position: relative;
  background-color: $color-ghost-white;
}

.membership .container {
  margin: 0 auto;

  @include vp-767 {
    padding: 0;
  }
}

.membership__wrapper {
  margin: 0 auto;
  text-align: center;
  padding: 128px 0 120px;
  max-width: 1160px;

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/decor/membership-decor-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: -37px -82px;
    bottom: -191px;
    right: 0;
    width: 250px;
    height: 450px;
  }

  @include vp-1199 {
    padding: 100px 0;

    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/decor/membership-decor-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: -27px 0;
      bottom: -81px;
      right: 0;
      width: 320px;
      height: 400px;
    }
  }

  @include vp-767 {
    padding: 65px 0 70px;

    &::after {
      display: none;
    }
  }
}

.membership__title {
  margin: 0 0 14px 0;
  font-family: $ff-alumni-sans;
  font-size: 52px;
  line-height: 50.4px;
  letter-spacing: 2.5px;

  @include vp-1199 {
    margin: 0 0 10px 0;
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 0.96px;
  }
}

.membership__controls {
  position: relative;
  display: flex;
  gap: 6px;
  justify-content: space-between;
  width: max-content;
  margin: 0 auto 40px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 18px;
    width: 90%;
    height: 2px;
    background-color: $color-grey;
    opacity: 20%;
  }

  @include vp-1199 {
    gap: 15px;
    margin: 0 auto 45px auto;
  }

  @include vp-767 {
    min-width: 289px;
    margin: 0 auto 34px auto;
  }
}

.membership__control {
  padding: 10px 20px 12px;
  min-width: auto;
  justify-content: center;
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-sapphire;
  opacity: 50%;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15%;
    width: 70%;
    height: 2px;
    background-color: $color-crimson;
    transform: scale(0);
    transform-origin: center;
    transition: 0.5s;
  }

  @include hover {
    color: $color-sapphire;
    opacity: 100%;

    &::before {
      transition: 0s;
      transform: scale(1);
    }
  }

  &:active,
  &:focus {
    color: $color-sapphire;
    opacity: 100%;

    &::before {
      transition: 0s;
      transform: scale(1);
    }
  }

  @include vp-1199 {
    padding: 10px 20px 13px;
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    margin: 0;
    padding: 10px 15px 14px 15px;
    font-size: 16px;
    line-height: 24px;
  }

  &.is-active {
    color: $color-sapphire;
    opacity: 1;
    pointer-events: none;

    &::before {
      transform: scale(1);
    }
  }
}

.membership__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(310px, 360px));
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    grid-template-columns: 100%;
    justify-content: center;
    padding: 0 118px;
    width: 100%;
  }

  @include vp-767 {
    padding: 0 15px;
    gap: 35px;
  }
}

.membership__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 62px 20px;
  border: 7px solid $color-default-white;
  text-align: center;
  background-color: $color-default-white;
  z-index: 1;

  &:hover {
    border: solid 7px;
    border-image: $button-buy-gradient;
    border-image-slice: 7;
  }

  @include vp-1199 {
    padding: 50px 20px 58px;
  }

  @include vp-767 {
    padding: 44px 20px 49px 20px;
  }
}

.membership__item h3 {
  margin: 0 0 3px 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 39.6px;

  @include vp-767 {
    margin: 0 0 9px 0;
    font-size: 22px;
    line-height: 24.2px;
  }
}

.membership__item p {
  margin: 0 0 66px 0;
}

.membership__price {
  position: relative;
  flex-grow: 1;
}

.membership__price p {
  margin: 0 0 33px 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: $color-egyptian-blue;
  z-index: 1;

  &::before {
    content: attr(data-price);
    position: absolute;
    top: 22px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;
    color: #e8e8e8;
    opacity: 48%;
    z-index: -1;

    @include vp-767 {
      top: 5px;
      font-size: 80px;
      line-height: 120px;
    }
  }

  @include vp-1199 {
    padding-left: 6px;
    margin: 0 0 34px 0;
  }

  @include vp-767 {
    margin: 0 0 45px 0;
    font-size: 48px;
    line-height: 50px;
  }
}

.membership__button {
  display: inline-block;
  width: 100%;
  padding: 27px 44px 28px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.55px;
  text-transform: uppercase;
  text-align: center;
  color: $color-sapphire;
  outline: 2px solid $color-sapphire;
  user-select: none;

  @include vp-1199 {
    width: 53%;
    max-width: 100%;
  }

  @include vp-767 {
    width: 86%;
    padding: 22px 42px;
  }

  @include hover {
    color: $color-default-white;
    background: $button-buy-gradient;
    outline-color: transparent;
  }

  &:focus {
    color: $color-default-white;
    background: $button-buy-gradient;
    outline-color: transparent;
  }

  &:active {
    background: $button-buy-gradient;
    color: $color-default-white-active;
    outline-color: transparent;
  }
}

.membership__button.is--disabled {
  opacity: 30%;
  pointer-events: none;
  cursor: default;
}

.membership__background-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1366px;

  @include vp-767 {
    display: none;
  }
}

.membership img {
  position: absolute;
  bottom: -145px;
  right: -183px;

  @include vp-1199 {
    bottom: -123px;
    right: -77px;
    width: 426px;
    height: 442px;
  }
}
